.menu {
    border: 1px black solid;
    padding: 0 10px;
}

ul {
    font-size: 22px;
    list-style-type: none;
    margin: 0;
    padding: 0 10px;
}

img {
    padding-right: 10px;
    height: 1.2em;  
    width: 1.2em;
}